@section Styles{
    <link rel="stylesheet" href="~/css/FacultySchedule.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/FacultySchedule.js" asp-append-version="true"></script>
    <script src="~/js/ClassesVendors.js" asp-append-version="true"></script>
}