@section Styles{
    <link rel="stylesheet" href="~/css/MyProfile.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/MyProfile.js" asp-append-version="true"></script>
    <script src="~/js/AccountVendors.js" asp-append-version="true"></script>
}