@section Styles{
    <link rel="stylesheet" href="~/css/MyTasks.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnChecklistItemId" type="hidden" value="@ViewBag.ChecklistItemId" />
@section Scripts{
    <script src="~/js/MyTasks.js" asp-append-version="true"></script>
    <script src="~/js/ChecklistVendors.js" asp-append-version="true"></script>
}