@section Styles{
    <link rel="stylesheet" href="~/css/AlertReport.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/AlertReport.js" asp-append-version="true"></script>
    <script src="~/js/GradesVendors.js" asp-append-version="true"></script>
}