@section Styles{
    <link rel="stylesheet" href="~/css/AccountConfirmation.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnAccountInvitation" type="hidden" value="@ViewBag.AccountInvitation" />
@section Scripts{
    <script src="~/js/AccountConfirmation.js" asp-append-version="true"></script>
    <script src="~/js/HomeVendors.js" asp-append-version="true"></script>
}