@section Styles{
    <link rel="stylesheet" href="~/css/LogIn.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/LogIn.js" asp-append-version="true"></script>
    <script src="~/js/HomeVendors.js" asp-append-version="true"></script>
}