@section Styles{
    <link rel="stylesheet" href="~/css/RecoverPassword.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnRecoveryCode" type="hidden" value="@ViewBag.RecoveryCode" />

@section Scripts{
    <script src="~/js/RecoverPassword.js" asp-append-version="true"></script>
    <script src="~/js/HomeVendors.js" asp-append-version="true"></script>
}