@section Styles{
    <link rel="stylesheet" href="~/css/SignOutConfirmation.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnSignOutValidation" type="hidden" value="@ViewBag.SignOutValidation" />

@section Scripts{
    <script src="~/js/SignOutConfirmation.js" asp-append-version="true"></script>
    <script src="~/js/HomeVendors.js" asp-append-version="true"></script>
}