@section Styles{
    <link rel="stylesheet" href="~/css/FinancialAid.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnAwardYearToken" type="hidden" value="@ViewBag.AwardYearToken" />
@section Scripts{
    <script src="~/js/FinancialAid.js" asp-append-version="true"></script>
    <script src="~/js/FinancesVendors.js" asp-append-version="true"></script>
}