<!--
    <copyright file="Applications.cshtml" company="Ellucian">
        Copyright 2019 Ellucian Company L.P. and its affiliates.
    </copyright>
-->
@section Styles{
    <link rel="stylesheet" href="~/css/Applications.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/Applications.js" asp-append-version="true"></script>
    <script src="~/js/AdmissionsVendors.js" asp-append-version="true"></script>
}