@section Styles{
    <link rel="stylesheet" href="~/css/InquiryForm.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnInquiryId" type="hidden" value="@ViewBag.InquiryId" />
@section Scripts{
    <script src="~/js/InquiryForm.js" asp-append-version="true"></script>
    <script src="~/js/AdmissionsVendors.js" asp-append-version="true"></script>
}