@section Styles{
    <link rel="stylesheet" href="~/css/WhatIf.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/WhatIf.js" asp-append-version="true"></script>
    <script src="~/js/RegistrationVendors.js" asp-append-version="true"></script>
}