<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>React state</Title>
    <Author>Ellucian</Author>
    <Shortcut>rState</Shortcut>
    <Description>Code snippet for a react state</Description>
    <SnippetTypes>
      <SnippetType>React Components</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="TypeScript">
      <![CDATA[this.setState({

});]]>
    </Code>
  </Snippet>
</CodeSnippet>