@section Styles{
    <link rel="stylesheet" href="~/css/AdviseeProfile.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnPersonId" type="hidden" value="@ViewBag.PersonId" />
<input id="hdnTabId" type="hidden" value="@ViewBag.TabId" />
<input id="hdnTabText" type="hidden" value="@ViewBag.TabText" />
<input id="hdnViewId" type="hidden" value="@ViewBag.ViewId" />
@section Scripts{
    <script src="~/js/AdviseeProfile.js" asp-append-version="true"></script>
    <script src="~/js/AdvisingVendors.js" asp-append-version="true"></script>
}