@section Styles{
    <link rel="stylesheet" href="~/css/AuthorizeAdvisees.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnTabId" type="hidden" value="@ViewBag.TabId" />
@section Scripts{
    <script src="~/js/AuthorizeAdvisees.js" asp-append-version="true"></script>
    <script src="~/js/AdvisingVendors.js" asp-append-version="true"></script>
}