@section Styles{
    <link rel="stylesheet" href="~/css/ManageAdvisees.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnAdviseeSearchId" type="hidden" value="@ViewBag.AdviseeSearch" />
@section Scripts{
    <script src="~/js/ManageAdvisees.js" asp-append-version="true"></script>
    <script src="~/js/AdvisingVendors.js" asp-append-version="true"></script>
}