@section Styles{
    <link rel="stylesheet" href="~/css/SharedAdvisees.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/SharedAdvisees.js" asp-append-version="true"></script>
    <script src="~/js/AdvisingVendors.js" asp-append-version="true"></script>
}