@section Styles{
    <link rel="stylesheet" href="~/css/ApplicationSetup.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnLayoutId" type="hidden" value="@ViewBag.LayoutId" />
@section Scripts{
    <script src="~/js/ApplicationSetup.js" asp-append-version="true"></script>
    <script src="~/js/AdministrationVendors.js" asp-append-version="true"></script>
}