@section Styles{
    <link rel="stylesheet" href="~/css/RequestsSetup.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/RequestsSetup.js" asp-append-version="true"></script>
    <script src="~/js/AdministrationVendors.js" asp-append-version="true"></script>
}