registry=https://registry.npmjs.org/
@ellucian:registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/npmjs
@hedtech:registry=https://artifactory.devops.ellucian.com/artifactory/api/npm/powercampus-npm/