@section Styles{
    <link rel="stylesheet" href="~/css/SetupApprovals.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/SetupApprovals.js" asp-append-version="true"></script>
    <script src="~/js/DepartmentVendors.js" asp-append-version="true"></script>
}