@section Styles{
    <link rel="stylesheet" href="~/css/Students.css" asp-append-version="true" />
}
<div id="root"></div>
@section Scripts{
    <script src="~/js/Students.js" asp-append-version="true"></script>
    <script src="~/js/SharedAccessVendors.js" asp-append-version="true"></script>
}