@section Styles{
    <link rel="stylesheet" href="~/css/SpecificError.css" asp-append-version="true" />
}
<div id="root"></div>
<input id="hdnIdPage" type="hidden" value="@ViewBag.ErrorCode" />
@section Scripts{
    <script src="~/js/SpecificError.js" asp-append-version="true"></script>
    <script src="~/js/ErrorsVendors.js" asp-append-version="true"></script>
}